/.DS_Store
/.vscode
/app
/main.py
/outputs
/pagina
/q10_streamlit_dashboard
/q10_streamlit_dashboard.zip
/reporte_q10_inscritos_preinscritos.xlsx
/usm_mockup_programa_electrico_v5.html
/~$reporte_q10_inscritos_preinscritos.xlsx